 <div class="row-fluid">
    <ul class="nav nav-tabs">
      <li class="active">
          <a href="javascript:void(0)" title="Create new event">Policy</a>
      </li>
      <li>
          <a href="${report_url}" title="Events Report">Report</a>
      </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="control-group">
        ${result}
    </div>
    <form action="${edit_url}" method="POST" class="form-horizontal" id="flow_event" enctype="multipart/form-data">
        %if type(data["id"]) == int: 
            <input type="hidden" id="id" name="id" value="${data}["id"]">
        %endif
        <div id="tabstrip-left-base">
            <ul>
                <li class="k-state-active">
                    Base
                </li>
                <li>
                    Warns
                </li>
            </ul>
            <div id="event_base">
                <div class="control-group">
                    <label class="control-label" for="profit"><strong>profit</strong></label>
                    <div class="controls row-fluid" id="control_profit">
                        <select id="select_profit" name="select_profit" class="op_select"></select>
                        <input type="text" name="input_profit" id="input_profit" value="" class="op_input" onkeyup="onKeyupFloat(this)" placeholder="1000.0">
                        <font class="op_label"><strong>and</strong></font>
                        <select id="select_profit2" name="select_profit2" class="op_select"></select>
                        <input type="text" name="input_profit2" id="input_profit2" value="" class="op_input" onkeyup="onKeyupFloat(this)" placeholder="1000.0">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ROI"><strong>ROI</strong></label>
                    <div class="controls row-fluid" id="div_roi">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="CTR"><strong>CTR</strong></label>
                    <div class="controls row-fluid" id="div_ctr">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="CR"><strong>CR</strong></label>
                    <div class="controls row-fluid" id="div_cr">
                    </div>
                </div>
            </div>
            <div id="event_warn">
                <div class="control-group">
                    <label class="control-label" for="warn"><strong>warn</strong></label>
                    <div class="controls row-fluid" id="div_warn">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="cloak_ts"><strong>cloak_ts</strong></label>
                    <div class="controls row-fluid" id="div_cloak_ts">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="cloak"><strong>cloak</strong></label>
                    <div class="controls row-fluid" id="div_cloak">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="track_domain"><strong>track_domain</strong></label>
                    <div class="controls row-fluid" id="div_track_domain">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lander_domain"><strong>lander_domain</strong></label>
                    <div class="controls row-fluid" id="div_lander_domain">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="wid_typo"><strong>wid_typo</strong></label>
                    <div class="controls row-fluid" id="div_wid_typo">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="wid_digit"><strong>wid_digit</strong></label>
                    <div class="controls row-fluid" id="div_wid_digit">
                    </div>
                </div>
            </div>
        </div>
        <div id="tabstrip-left-offers">
            <ul>
                <li class="k-state-active">
                   Offers 
                </li>
            </ul>
            <div id="event_offer">
                <input type="hidden" id="offers_len" value="0">
                <div class="control-group" id="each_offer">
                </div>
                <input id="add_offer" type="button" value="Add" onclick="onButtonAddOffers()">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input id="submit" type="submit" class="k-button btn-save" value="Submit">
                ##<a href="${list_url}" class="k-button btn-cancel" >Cancel</a>
            </div>
        </div>
    </form>
</div>

<style>
    .op_label
    {
        margin-left:10px;
    }
    .op_select
    {
        width:80px;
        margin-left:5px;
    }
    .op_input
    {
        width:50px;
        margin-left:2px;
    }
    .op_select_offer
    {
        width:350px;
        margin-left:5px;
    }
    .op_select_timezone
    {
        width:120px;
        margin-left:5px;
    }
    .op_div
    {
        margin-top:5px;
    }
</style>

<script>
    $(document).ready(function(){
        createBase();
        createWarns();
        createOffer();
        initValue();

        $("#tabstrip-left-base").kendoTabStrip({
                tabPosition: "left",
                animation: {open:{effects:"fadeIn"}}
            });
        $("#tabstrip-left-offers").kendoTabStrip({
                tabPosition: "left",
                animation: {open:{effects:"fadeIn"}}
            });
        $("#add_offer").kendoButton();
    });
    function initDropDownListValue(tag, value)
    {
        $("#"+tag).data("kendoDropDownList").value(value);
    }

    function onKeyupInt(obj)
    {
        obj.value = obj.value.replace(/[^0-9-]/g,'');
    }

    function onKeyupFloat(obj)
    {
        obj.value = obj.value.replace(/[^0-9.-]/g,'');
    }

    function onKeyupRate(obj)
    {
        obj.value = obj.value.replace(/[^0-9.%]/g,'');
    }

    function onBlurRate(obj)
    {
        if (obj.value != "")
        {
            var idx = obj.value.indexOf("%");
            if (idx < 0)
            {
                obj.value = obj.value + "%";
            }
        }
    }

    function createFont(text, strong)
    {
        var font = document.createElement("font");
        font.appendChild(document.createTextNode(text));
        font.setAttribute("class", "op_label");
        if (strong)
        {
            var strong = document.createElement("strong");
            strong.appendChild(font);
            return strong;
        }
        return font;
    }

    function createSelect(tag, type)
    {
        var select = document.createElement("select");
        select.id = "select_" + tag + "_" + type;
        select.name = "select_" + tag + "_" + type;
        select.setAttribute("class", "op_select");
        createOperator(select.name);
        return select;
    }

    function createInput(tag, type)
    {
        var input = document.createElement("input");
        input.type = "text";
        input.id = "input_" + tag + "_" + type;
        input.name = "input_" + tag + "_" + type;
        input.setAttribute("class", "op_input");
        if (type == "rate")
        {
            input.setAttribute("onkeyup", "onKeyupRate(this)");
            input.setAttribute("onblur", "onBlurRate(this)");
            input.setAttribute("placeholder", "10%");
        }
        else if (type == "visit" || type == "warns")
        {
            input.setAttribute("onkeyup", "onKeyupInt(this)");
            input.setAttribute("placeholder", "1000");
        }
        return input;
    }

    function createOperator(tag)
    {
        $("#"+tag).kendoDropDownList({
            dataTextField:"op",
            dataValueField:"val",
            optionLabel: "select",
            dataSource:[
                {val:">", op:">"},
                {val:">=", op:">="},
                {val:"==", op:"=="},
                {val:"<=", op:"<="},
                {val:"<", op:"<"},
            ],
        });
    }

    function doCreateBase(tag, type)
    {
        var parent = document.getElementById(tag);
        parent.appendChild(createFont("rate"));
        parent.appendChild(createSelect(type, "rate"));
        parent.appendChild(createInput(type, "rate"));

        parent.appendChild(createFont("and", true));
        parent.appendChild(createFont("visits"));
        parent.appendChild(createSelect(type, "visit"));
        parent.appendChild(createInput(type, "visit"));

        createOperator("select_"+type+"_rate");
        createOperator("select_"+type+"_visit");
    }

    function initValue()
    {
        var data = ${data};
        for (var tag in data)
        {
            var idx = tag.indexOf("select");
            if (idx >= 0)
            {
                initDropDownListValue(tag, data[tag]);
            }
            else
            {
                var obj = document.getElementById(tag);
                if (obj)
                    obj.value = data[tag]; 
            }
        }
    }

    function createBase()
    {
        createOperator("select_profit");
        createOperator("select_profit2");
        doCreateBase("div_roi", "roi");
        doCreateBase("div_ctr", "ctr");
        doCreateBase("div_cr", "cr");
    }

    function createOffersOptions(tag)
    {
        $("#"+tag).kendoDropDownList({
            filter : "contains",
            dataTextField:"name",
            dataValueField:"id",
            optionLabel: "select offers ...",
            dataSource: ${offers},
        });
    }

    function createOffer()
    {
        var offer_len = ${data}["offers_len"];
        for (var i = 0; i < offer_len; i++)
        {
            addOffers("each_offer", i+1);
        }
    }

    function createCampaign()
    {
    }

    function doCreateWarns(tag, type)
    {
        var parent = document.getElementById(tag);
        parent.appendChild(createFont("rate"));
        parent.appendChild(createSelect(type, "rate"));
        parent.appendChild(createInput(type, "rate"));

        parent.appendChild(createFont("and", true));
        parent.appendChild(createFont("visits"));
        parent.appendChild(createSelect(type, "visit"));
        parent.appendChild(createInput(type, "visit"));

        parent.appendChild(createFont("or", true));
        parent.appendChild(createFont("warns"));
        parent.appendChild(createSelect(type, "warns"));
        parent.appendChild(createInput(type, "warns"));

        createOperator("select_"+type+"_rate");
        createOperator("select_"+type+"_visit");
        createOperator("select_"+type+"_warns");
    }

    function createWarns()
    {
        doCreateWarns("div_warn", "warn");
        doCreateWarns("div_cloak_ts", "cloak_ts");
        doCreateWarns("div_cloak", "cloak");
        doCreateWarns("div_track_domain", "track_domain");
        doCreateWarns("div_lander_domain", "lander_domain");
        doCreateWarns("div_wid_typo", "wid_typo");
        doCreateWarns("div_wid_digit", "wid_digit");
    }

    function createRawSelect(id, name, class_name)
    {
        var select = document.createElement("select");
        select.id = id;
        select.name = name;
        select.setAttribute("class", class_name);
        return select;
    }

    function createRawInput(id, name, class_name, keyup, holder)
    {
        var input = document.createElement("input");
        input.id = id;
        input.name = name;
        input.type = "text";
        input.setAttribute("class", class_name);
        input.setAttribute("onkeyup", keyup);
        input.setAttribute("placeholder", holder);
        return input;
    }

    function doCreateOffer(parent, idx)
    {
        //label div select font select font select input
        var parentDiv = document.createElement("div");
        parentDiv.setAttribute("class", "op_div");
        parentDiv.id = "div_offer" + idx;

        //var label = document.createElement("label");
        //label.setAttribute("class", "control-label");
        //label.setAttribute("for", "Offer")
        //var font = createFont("Offers", true);
        //label.appendChild(font);
        //parentDiv.appendChild(label);

        var select_offer_name = "select_offer_id" + idx;
        var div = document.createElement("div");
        div.id = "event_offers";
        div.setAttribute("class", "row-fluid");
        var obj = createRawSelect(select_offer_name, select_offer_name, "op_select_offer");
        div.appendChild(obj);

        obj = createFont("timezone");
        div.appendChild(obj);

        var select_offer_timezone_name = "select_offer_timezone" + idx;
        obj = createRawSelect(select_offer_timezone_name, select_offer_timezone_name, "op_select_timezone");
        div.appendChild(obj);

        obj = createFont("conversions");
        div.appendChild(obj);

        var select_offer_conv_name = "select_offer_conv" + idx;
        obj = createRawSelect(select_offer_conv_name, select_offer_conv_name, "op_select");
        div.appendChild(obj);

        obj = createRawInput("input_offer_conv"+idx, "input_offer_conv"+idx, "op_input", "onKeyupInt(this)", "1000");
        div.appendChild(obj);

        var input = document.createElement("input");
        input.type = "button";
        input.value = "Delete";
        input.id = idx;
        input.setAttribute("class", "op_select");
        input.setAttribute("onclick", "onDeleteOfferDiv(this.id)");
        div.appendChild(input);

        parentDiv.appendChild(div);
        parent.appendChild(parentDiv);

        createOffersOptions(select_offer_name);
        CreateTimeZoneOption(select_offer_timezone_name);
        createOperator(select_offer_conv_name);

        document.getElementById("offers_len").value = idx;
        $("#"+select_offer_timezone_name).kendoDropDownList();
        $("#"+select_offer_timezone_name).data("kendoDropDownList").value(8);
    }

    function addOffers(tag, idx)
    {
        var parent = document.getElementById(tag);
        doCreateOffer(parent, idx);
    }

    function onButtonAddOffers()
    {
        var len = parseInt(document.getElementById("offers_len").value) + 1;
        addOffers("each_offer", len);
    }

    function onDeleteOfferDiv(idx)
    {
        var obj = document.getElementById("div_offer"+idx);
        $("div#div_offer"+idx).remove();
    }
</script>

