<div class="row-fluid">
    <ul class="nav nav-tabs actions-nav">
        <li class="active">
            <a href="javascript:void(0)">List (${len(records)})</a>
        </li>
        <li>
            <a href="${create_url}" title="Create new rule">Policy</a>
        </li>
        <li>
            <a href="${config_url}" title="Events Configs">Config</a>
        </li>
        <li>
            <a href="${report_url}" title="Event Reports">Report</a>
        </li>
    </ul>
</div>


<div class="row-fluid">
    <div id="grid"></div>
</div>

<script type="text/javascript">
</script>
