<script src="/assets/bootstrap2/js/bootstrap.js"></script>
<script src="/assets/vendor/moment-2.8.4.min.js" type="text/javascript"></script>
<!--
<script src="/assets/vendor/select2/select2.min.js" type="text/javascript"></script>

<script src="/assets/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/assets/admin/js/form-1.0.0.js"></script>
-->
<script src="/assets/admin/js/filters-1.0.0.js"></script>
<script src="/assets/admin/js/actions-1.0.0.js"></script>

