<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<script type="text/javascript" src="/assets/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/assets/jquery_upload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/assets/jquery_upload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/assets/jquery_upload/js/jquery.fileupload.js"></script>
<noscript><link rel="stylesheet" href="/assets/jquery_upload/css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="/assets/jquery_upload/css/jquery.fileupload-ui-noscript.css"></noscript>
<link rel="stylesheet" href="/assets/jquery_upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/assets/jquery_upload/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/assets/jquery_upload/css/style.css">

<style>
    .bar{
        height: 18px;
        background:black;
    }
</style>

<div id="progress">
    <div class="bar" style="width: 0%;"></div>
 </div>

<script type="text/javascript">
    $(function ()
    {
        $('#fileupload').fileupload({
            dataType: 'json',
            //progressall: function (e, data) {
            //    var progress = parseInt(data.loaded / data.total * 100, 10);
            //    $('#progress .bar').css('width', progress + '%' );
            //},
            //add: function (e, data)
            //{
            //    data.context = $('<button/>').text('Upload')
            //    .appendTo(document.body)
            //    .click(function () {
            //        data.context = $('<p/>').text('Uploading...').replaceAll($(this));
            //        data.submit();
            //    });
            //},
            done: function (e, data){
                data.context.text('Upload finished.');
            }
        });
    });
</script>

<div class="row-fluid">
    <ul class="nav nav-tabs">
      <li>
          <a href="${list_url}">List</a>
      </li>
      <li class="active">
          <a href="javascript:void(0)">Create</a>
      </li>
      <li>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input id="fileupload" type="file" name="files[]" multiple data-url="upload_single">
        </span>
      </li>
    </ul>                        
</div>

<div class="row-fluid">
    <form action="" method="POST" class="admin-form form-horizontal" enctype="multipart/form-data">
      <fieldset>

          <div class="control-group">
            ${op_tips}
          </div>

        % for i in xrange(len(fields)):
        <div class="control-group">
            <div class="control-label">
            <!--
              <label for="name">${fields[i]}<strong style="color: red">*</strong>
              -->
              <label for="${fields[i]['name']}">${fields[i]['name']}</strong>
              </label>
            </div>
            <div class="controls">
              <div>
              % if fields[i]['is_normal']:
                % if fields[i]['name'] == 'source':
                    <textarea id= "${fields[i]['name']}" name="${fields[i]['name']}" rows="25" cols="80" style="width: 80%"></textarea>
                % else:
                    <input id="${fields[i]['name']}" name="${fields[i]['name']}" type="text" value="">
                % endif 
              % endif

              </div>
              ${fields[i]['tips']}
            </div>
        </div>
        % endfor
 
            <div class="control-group">
              <div class="controls">
                <input id="mysmt" type="submit" class="btn btn-primary btn-small" value="Submit">
                <!--<input name="_add_another" type="submit" class="btn btn-large" value="Save and Add">-->
                <a href="${list_url}" class="btn btn-small btn-danger">Cancel</a>

                <script type="text/javascript">
                    $( document ).ready( function() {
                        tinymce.init({
                            selector:"textarea",
                            // General options
                            forced_root_block:'',
                            theme : "modern",
                            menubar : false,
                            plugins : "autolink,lists,code,pagebreak,layer,table,save,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,template,advlist, fullpage",

                            // preview
                            plugin_preview_width:"600",
                            plugin_preview_height:"500",
                            // Theme options
                            toolbar1: "newdocument,|, cut, copy, paste, undo,redo, | ,code, preview",
                            image_advtab:true,
                            toolbar_items_size : 'small',

                            // Drop lists for link/image/media/template dialogs
                            template_external_list_url : "lists/template_list.js",
                            external_link_list_url : "lists/link_list.js",
                            external_image_list_url : "lists/image_list.js",
                            media_external_list_url : "lists/media_list.js",
                        })
                    });

                    $("#mysmt").click(function(){
                        return;
                    })
                </script>
                  </div>
            </div>
      </fieldset>
    </form>            
</div>



