<div class="row-fluid">
    <ul class="nav nav-tabs">
        <li class="active">
        <a href="javascript:void(0)">List (${len(records)})</a>
        </li>

        <li>
        <a href="${create_url}" title="Create new record">Create</a>
        </li>

        <!--
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">With selected<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
            <a href="javascript:void(0)" onclick="return modelActions.execute('delete');">Delete</a>
            </li>
        </ul>
        </li>
        -->
    </ul>
</div>


<div class="row-fluid">
    <div id="grid"></div>
</div>
<style>
    .edit-icon { height:15px;width:15px;margin:auto; }
</style>

<script>
    var fields = {edit_url:{type:"string"}};
    var columns = [{field:"edit_url", title:"   ", width:"29px", template:"<a class='edit-icon' href='#:edit_url#'><img src='/assets/image/edit-icon.png'></img></a>"}];
    % for i in field_names:
        fields['${i['name']}'] = {type: "${i['type']}"};
        var col = {field:'${i['name']}', title:'${i['name']}'.split("_").join(" ")};
        %if i['name'] == "uri":
            col.width = "300px";
        %elif i['name'] == "url":
            col.width = "300px";
        %elif i['name'] == "name":
            col.width = "200px";
        %else:
            if(fields['${i['name']}'].type == "string") {
               col.width = "150px";
            }
            else
                col.width = "75px";
        %endif
        columns.push(col);
    %endfor
    <%
        import ujson
        datas = [dict(rec['values'], edit_url=rec['edit_url']) for rec in records]
    %>
    var datas = ${datas};
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                data: datas,
                schema: {model:{fields:fields}},
                pageSize: 20
            },
            resizable: true,
            sortable: true,
            pageable: {
                pageSizes: true,
                buttonCount: 5
            },
            columns: columns});
    });


</script>



