<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Demo</title>
</head>
<body>
    Here is your body.<br/>
    Pop state saved in 15 seconds, please refresh this page to get new pop<br />
    <br />
    <a href="http://example.com/?_blank" target="_blank">A link with target = _blank</a><br />
    <br />
    <a href="http://example.com/?undefined">A normal link</a><br/>
    <br />

    <br/>
    <button id="button-create-a-div">I'm a button with event.preventDefault() and I should create an element (DIV)</button>
    <br/>
    <br/>
    <button id="button-with-span-create-a-div"><span>I'm a button with text wrapped by <strong>span</strong> with event.preventDefault() and I should create an element (DIV)</button>

    <a href="http://jxxjuvfpwv.xyz/55/fc22c6253a6447fcb1a6b66f37dd07cd?websiteid={wid}" target="_blank">
    <img src="http://msassets1.s3-website-us-east-1.amazonaws.com/banner/320_50/320_50_11.jpg" border="0"/></a>
    <script>var wid="{wid}";</script>
    ##<script src="http://localhost:8080/js/pop_freq2.js?ck_tok=355a89ebf82c4ee386003bd1bfbf57fe&cpurl=http://localhost:8080/1/c24691f1e54f4ff287551a4de3943482"></script>
    ##<script src="http://localhost:8080/js/1"></script>
    <script src="http://ec2-52-87-167-228.compute-1.amazonaws.com/js/1"></script>
    ##<script src="http://ljuhkxmgpz.xyz/assets/55/jjs/cae1058db7bf4ce3a8bd57137b8df793.js"></script>
    ##<script src="http://ljuhkxmgpz.xyz/assets/55/jjs/8c96a3f925fb497a8738108f7a49c7c5.js"></script>
</body>
</html>

